[Unit]
Description=Resize the root filesystem to fill partition
DefaultDependencies=no
After=
Before=systemd-remount-fs.service local-fs-pre.target sysinit.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/init.d/resize2fs_once start

[Install]
WantedBy=systemd-remount-fs.service
Alias=resize2fs_once.service

